.cabeçario{
    background-color: rgb(202, 201, 201);
    border-radius: 5px;
    padding: 7px 7px;
}

a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(63, 62, 62);
}

.bt1{
    background-color: white;
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
}

.bt2{
    background-color: white;
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
}

.bt3{
    background-color: white;
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
}

.bt4{
    background-color: white;
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
}