.container{
    background-image: url("https://t3.ftcdn.net/jpg/06/30/06/32/360_F_630063258_Pazc3vbQLlnRbyMMCZey2yvOBhtnuyOn.jpg");
    background-size: cover;
    border-radius: 5px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    height: 30px;
}

body{
    background-image: url("https://t3.ftcdn.net/jpg/04/12/82/16/360_F_412821610_95RpjzPXCE2LiWGVShIUCGJSktkJQh6P.jpg");
    background-size: cover;
    max-width: 100%;
}

.tabela{
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    padding: 5px 5px;
    align-items: center;
    margin: 5px 5px;
    width: 200px;
    margin-left: 5%;
    align-items: center;
}

a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(63, 62, 62);
}

.bt1{
    background-color: rgb(255, 255, 255);
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    margin-left: ;
    width: 500px;
}

.bt2{
    background-color: white;
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    margin-left: ;
    width: 500px;
}

.bt3{
    background-color: white;
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    margin-left: ;
    width: 500px;
}

.bt4{
    background-color: white;
    padding: 3px 3px;
    border: none;
    border-radius: 5px;
    margin-left: ;
    width: 500px;
}